body {
background-color: black;
}

.container {
  width: 340px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 3px;
  padding-bottom: 17px;
  border: 1px solid whitesmoke;
  background-color: black;
}

.container button {
  width: 95%;
  padding: 10px;
  background-color: yellow;
  color: black;
  border: 1px solid whitesmoke;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.container a {
  text-decoration: none;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 77px;
  padding-right: 78px;
  background-color: yellow;
  color: black;
  border: 1px solid whitesmoke;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

H2 {
  font-family: 'Times New Roman', Times, serif;
  color: white
}

#result {
  font-size: 20px;
  margin-top: 1%;
  margin-left: 35%;
  text-align: left;
  width: 580px;
  color: white;
}

p{
  background-color: red;
  border: 1px solid whitesmoke;
  margin: 0px;
  padding: 1px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  color:black;
}

.alocado {
  background-color: rgb(21, 255, 0);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

.naoalocado {
  background-color: rgb(174, 0, 255);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

.best {
  background-color: rgb(21, 255, 0);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}

.p0 {
  background-color: rgb(0, 183, 255);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  width: 140px;
  display: inline-block;
}

.p1 {
  background-color: rgb(255, 166, 0);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  width: 140px;
  display: inline-block;
}
.p2 {
  background-color: rgb(0, 255, 106);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  width: 140px;
  display: inline-block;
}

.p3 {
  background-color: rgb(251, 255, 0);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  width: 140px;
  display: inline-block;
}
