body {
background-color: black;
}

.container {
  width: 340px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 3px;
  padding-bottom: 17px;
  border: 1px solid whitesmoke;
  background-color: black;
}

.container button {
  width: 95%;
  padding: 10px;
  background-color: yellow;
  color: black;
  border: 1px solid whitesmoke;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

H2 {
  font-family: 'Times New Roman', Times, serif;
  color: white
}

#result {
  font-size: 20px;
  margin-top: -27%;
  margin-left: 33%;
  text-align: left;
  width: 580px;
}

p{
  background-color: red;
  border: 1px solid whitesmoke;
  margin: 0px;
  padding: 1px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}

.alocado {
  background-color: rgb(21, 255, 0);
  border: 1px solid whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
